
header{
    height: 700px;
}
.about-hero-desc{
    color: #fff;
    width: 777px;
    height: 44px;
}

.art-content{
    display: flex;
    gap: 120px;
}

.r-art-con{
    width: 680px;
    height: 697px;

}
.r-art-con>.art-card{
    position: relative;
    margin: 0px 53px;
}
/* .art-bg-span{
    position: absolute;
    width: 680px;
    height: 473px;
    border: 1px solid #0B0B0E;
    top: 190px;
    left: -53px;
    z-index: -1;
} */
.r-art-con>.art-card>img{
    width: 573.333px;
    height: 320px;
}
.art-card>.art-spa{
    margin-top: 20.5px;
}

.co-opaci2{
    color: #0B0B0E;
    opacity: 0.5;
}

.l-art-con>.art-card{
    display: flex;
    gap: 24px;}

/* ================================================================================ */
.art2{
    position: absolute;
    top: 2100px;
}
/* .anthor-art>.container>.art-title{
    margin-bottom: 72px;
}
.anthor-art-con{
    display: flex;
    gap:72px ;
}
.anthor-art-con>.art-card>.r-art-con>img{
    object-fit: cover;
} */
.art-anthor-con2{
    display: flex;
    gap: 120px;
}

.l-art-con{
    width:840px;
    height: 698px;
    display: flex;
    flex-direction: column;
    gap: 61px;
}
.l-art-con>.art-card>.art-card-con{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width:556px;
    height: 265px
}
.l-art-con>.art-card>.art-card-con>.art-desc{
    width: 556px;
    height: 68px;
}
.l-art-con>.art-card>img{
    width: 260px;
    height: 265px;
}



/* slide service section */
.slide-service{
    position: absolute;
    top: 1100px;
}
.serv-spa{
    display: inline-block;
    margin-left: -200px;
}
.btn-art{
    color: #0B0B0E;
    background: #fff;
    border: none;
}





.footer{
    position: absolute;
    top: 3400px;
}