header {
    background: url('../images/header-bg.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    overflow: hidden;


}

/* this is  hero section */
.home-sec {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.home-sec>.container {
    height: 100vh;
}


.hero-sec {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    z-index: 1;
}

@media (max-width:768px) {
    .hero-sec {
        top: 36%;
    }
}

@media (max-width:576px) {
    .hero-sec {
        top: 35%;
    }
}

.hero-img {
    position: absolute;
    /* top: 100px; */
    left: -134px;
    width: 850px;
    height: 926px;
    background-image: url("../images/layer.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-desc {
    margin-top: 100px;
}

@media (min-width:768px) {
    .hero-desc {
        margin-top: 0;
    }
}

.box-hero {
    text-align: right;
}

.hero-title {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    line-height: 170%;
}

@media (max-width:1600px) {
    .hero-title {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 170%;
    }
}

@media (max-width:992px) {
    .hero-title {
        font-size: 52px;
    }
}

@media (max-width:768px) {
    .hero-title {
        font-size: 54px;
        margin-bottom: 27px;
    }
}

@media (max-width:768px) {
    .hero-title {
        font-size: 40px;
        margin-bottom: 20px;
    }
}

.hero-txt-y {
    color: #FFEE06;
}

.p-hero {
    font-size: 24px;
    font-weight: 700;
    line-height: 170%;
    color: #D4D4D9;
    text-align: right;
    width: 759px;
    margin-bottom: 85px;
}

@media (max-width:1400px) {

    .p-hero {
        font-size: 18px;
        font-weight: 300;
        width: 60%;
        margin-bottom: 55px;
    }
}

@media (max-width:992px) {

    .p-hero {
        font-size: 16px;
        width: 54%;
        margin-bottom: 45px;
    }
}

@media (max-width:768px) {

    .p-hero {
        width: 62%;
        margin-bottom: 60px;
    }
}

@media (max-width:576px) {

    .p-hero {
        width: 100%;
        margin-bottom: 45px;
    }
}



.btn-hero {
    border: 1px solid #FFF;
    color: #fff;
    display: inline-block;

}

@media (max-width:992px) {

    .btn-hero {
        font-size: 14px;
    }
}

.btn-hero:after {
    background-color: #FCEE50;
}


.btn-hero>.hero-btn-txt {
    display: flex;
    justify-content: space-between;
    color: #D4D4D9;
    position: relative;
    z-index: 1;
}

.btn-hero:hover .hero-btn-txt {

    color: #000;
}

.btn>.hero-btn-txt>i {
    padding-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    transition: all .4s ease;

}

.btn:hover .hero-btn-txt>i {
    padding-right: 20px;
}

/* >>>>> */


.box-hero>.scrol-svg {
    border-radius: 30px;
}

.box-hero>.scrol-svg>img {
    width: 54px;
    height: 54px;
    margin: 213px 43px 18px;

}

header .layer2-home {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;

}

header .layer2-home img {
    left: 0px;
    bottom: 0;
    position: absolute;
}

@media (max-width:1400px) {
    header .layer2-home img {
        width: 61%;
    }

}

@media (max-width:567px) {
    header .layer2-home img {
        width: 70%;
    }

}

/* @media (max-width:1600px) {
    header .layer2-home {
        
    }
} */


/* this is new section */
.meny-sec {
    width: 100%;
    background: url('../images/meny-bg.png') #fff;
    padding: 125px 0px;
    z-index: 10;
}

@media (max-width:768px) {
    .meny-sec {
        padding: 40px 0px;
    }
}

@media (max-width:576px) {
    .meny-sec {
        padding: 20px 0px;
    }

}

.m-items-sec {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.m-item-sec {
    margin: 35px 0px;
    text-align: center;
    width: 25%;
}

@media (max-width:1400px) {
    .m-item-sec {
        width: 50%;
    }

    .m-item-sec img {
        height: 60px;
    }

}

@media (max-width:768px) {
    .m-item-sec {
        margin: 25px 0;
    }

    .m-item-sec img {
        height: 40px;
    }

}

@media (max-width:768px) {
    .m-item-sec {
        margin: 10px 0;
    }

    .m-item-sec img {
        height: 32px;
    }

}



/* ========================================================================= */



.about-us-sec {
    text-align: center;
    position: relative;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 100px; */
}

.about-us-content {
    background: url('../images/about-sec-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 180px 0px 117px;
}

@media (max-width:1400px) {
    .about-us-content {
        padding: 120px 0px 87px;
    }
}

@media (max-width:768px) {
    .about-us-content {
        padding: 80px 0px 92px;
    }
}

.about-us-content-data {
    padding: 0 127px;
}

@media (max-width:1400px) {
    .about-us-content-data {
        padding: 0 97px;
    }
}

@media (max-width:576px) {
    .about-us-content-data {
        padding: 0;
    }
}

@media (max-width:992px) {
    .about-img {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 45px;
    }
}

@media (max-width:768px) {
    .about-img {
        margin-bottom: 30px;
    }
}

@media (max-width:576px) {
    .about-img {
        margin-bottom: 30px;
        padding: 0;
    }
}

.about-img>img {
    width: 88px;
    /* height: 44px; */
}

@media (max-width:992px) {
    .about-img>img {
        margin-bottom: 35px;
    }
}

@media (max-width:768px) {
    .about-img>img {
        margin-bottom: 15px;
    }
}

@media (max-width:576px) {
    .about-img>img {
        width: 56px;
        margin-bottom: 15px;
    }
}

.about-title {
    text-align: center;
    /* padding: 0 50px; */

}

@media (max-width:1400px) {
    .about-title {
        font-size: 48px;

    }
}

@media (max-width:992px) {
    .about-title {
        font-size: 32px;

    }
}

@media (max-width:768px) {
    .about-title {
        font-size: 21px;

    }
}

.about-desc {
    padding: 0 60px;
    margin: 88px 0px 48px;
    text-align: center;

}

@media (max-width:1400px) {
    .about-desc {
        padding: 0 48px;
        margin: 56px 0px 32px;
        font-size: 18px;

    }
}

@media (max-width:992px) {
    .about-desc {
        padding: 0 38px;
        margin: 32px 0px 0px;
        font-size: 16px;

    }
}

@media (max-width:768px) {
    .about-desc {
        padding: 0;
        margin: 25px 0px 0px;

    }
}

@media (max-width:576px) {
    .about-desc {
        font-size: 14px;
    }
}

.btn-about {
    margin: 90px auto 0;
    margin-top: 120px;
    border: 1px solid #1C1C22;
    width: 180px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

@media (max-width:1400px) {
    .btn-about {
        margin: 90px auto 0;
        padding: 20px 20px;
    }
}

@media (max-width:1200px) {
    .btn-about {
        margin: 90px auto 0;
        padding: 10px 15px;
        width: 165px;

    }
}

/* @media (max-width:992px) {
    .btn-about {
        margin: 90px auto 0;
        padding: 15px 20px;
        width: 190px;
        border: 0;

    }
} */

@media (max-width:992px) {
    .btn-about {
        margin: 50px auto 0;
        padding: 12px 20px;
        width: 190px;
        border: 0;

    }
}

@media (max-width:992px) {
    .btn-about {
        margin: 35px auto 0;
        width: 175px;

    }
}



.btn-about:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FCEE50;
    transition: all .7s ease;
}

@media (max-width:992px) {
    .btn-about:after {
        width: 100%;
    }
}

.btn-about:hover::after {
    width: 100%;
}

.about-btn-txt {
    display: block;
    color: #1C1C22;
    font-size: 16px;
    z-index: 1;
}

@media (max-width:992px) {
    .about-btn-txt {
        font-size: 18px;
    }
}

@media (max-width:576px) {
    .about-btn-txt {
        font-size: 16px;
    }
}




.btn-about i {
    padding-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    transition: all .4s ease;
}

@media (max-width:992px) {
    .btn-about i {
        font-size: 20px;
    }
}

@media (min-width:992px) {
    .btn-about:hover .about-btn-txt>i {
        padding-right: 20px;
    }
}

/* start section to from about=================================== */
.about-us-sec {
    position: relative;
}



.svg {
    z-index: -1;
}

.about-us-content2 {
    display: flex;
    text-align: right;
    padding-top: 137px;
    background-color: #F2F2F2;
}

@media (max-width:992px) {
    .about-us-content2 {
        padding-top: 60px;
        background-color: #F2F2F2;
    }
}

.about-us-con {
    display: flex;
    justify-content: space-between;

}

@media (max-width:992px) {
    .about-us-con {
        display: flex;
        justify-content: space-between;
        flex-flow: column-reverse;
        align-items: center;
    }
}

.about-us-con .r-about-content {
    text-align: unset;
    width: 49%;

}

@media (max-width:992px) {
    .about-us-con .r-about-content {
        width: 100%;
        text-align: center;

    }
}

.about-us-con .l-about-content {
    width: 45%;
    text-align: justify;
}

@media (max-width:1200px) {
    .about-us-con .l-about-content {
        padding-left: 20px;
        width: 49%;
    }
}

@media (max-width:992px) {
    .about-us-con .l-about-content {
        width: unset;
        text-align: center;
    }
}

.l-about-title {
    padding-top: 60px;

}

@media (max-width:1400px) {
    .l-about-title {
        padding-top: 40px;
        font-size: 32px;

    }

}

@media (max-width:1200px) {
    .l-about-title {
        font-size: 26px;

    }

}

@media (max-width:992px) {
    .l-about-title {
        font-size: 32px;
        padding: 0;

    }
}

@media (max-width:576px) {
    .l-about-title {
        font-size: 24px;
        padding: 0 25px;

    }
}

.l-about-desc {
    margin: 20px 0px;
    font-weight: 300;
}

@media (max-width:1400px) {
    .l-about-desc {
        font-size: 18px;
        margin: 15px 0px;
    }

}

@media (max-width:1200px) {
    .l-about-desc {
        font-size: 16px;
        margin: 10px 0px;
    }

}

@media (max-width:992px) {
    .l-about-desc {
        font-size: 16px;
        font-weight: 400;
        width: 60%;
        margin: 20px auto;
    }

}

@media (max-width:768px) {
    .l-about-desc {
        width: 65%;
        margin: 20px auto;
    }


    .list-about {
        margin-top: 45px;
    }

}

@media (max-width:576px) {
    .l-about-desc {
        width: 100%;
        margin: 20px auto;
        font-size: 14px;
    }


    .list-about {
        margin-top: 30px;
    }

}



.list-about>li {
    position: relative;
    margin-top: 15px;
    font-weight: 300;

}

@media (max-width:1200px) {
    .list-about>li {
        margin-top: 10px;
        display: flex;
        align-items: center;

    }

    .list-about>li>img {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        z-index: 1;
    }
}

@media (max-width:992px) {
    .list-about>li {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-flow: column;

    }

    .list-about>li>img {
        width: 30px;
        height: 30px;
        margin: 0 8px 14px;
    }
}


@media (max-width:768px) {
    .list-about>li {
        margin-top: 0;

    }

    .list-about>li>img {
        width: 35px;
        height: 35px;
        margin: 32px 8px 20px;
    }
}


.l-about-write {
    margin-top: 40px;

}

@media (max-width:1400px) {
    .l-about-write {
        margin-top: 30px;

    }

    .l-about-write>img {
        width: 40%;

    }

}

@media (max-width:1200px) {
    .l-about-write {
        margin-top: 25px;

    }

    .l-about-write>img {
        width: 30%;

    }

}


@media (max-width:992px) {
    .l-about-write {
        margin-top: 40px;

    }

    .l-about-write>img {
        width: 25%;

    }

}


@media (max-width:768px) {
    .l-about-write {
        margin-top: 40px;

    }

    .l-about-write>img {
        width: 33%;

    }
}

@media (max-width:576px) {

    .l-about-write>img {
        width: 41%;

    }

}





.l-about-name {
    margin-bottom: 10px;

}

@media (max-width:1400px) {
    .l-about-name {
        margin-bottom: 8px;
        font-size: 32px;

    }

    .l-about-info {
        font-size: 18px;
    }

}

@media (max-width:1200px) {
    .l-about-name {
        margin-bottom: 5px;
        font-size: 26px;

    }

    .l-about-info {
        font-size: 16px;
    }

}

@media (max-width:992px) {
    .l-about-name {
        margin-bottom: 5px;
        font-size: 20px;

    }

    .l-about-info {
        font-size: 14px;
        margin-bottom: 60px;
        display: inline-block;
    }

}

@media (max-width:768px) {
    .l-about-name {
        font-size: 28px;

    }

    .l-about-info {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media (max-width:576px) {
    .l-about-name {
        font-size: 20px;
        margin-bottom: 5;

    }

    .l-about-info {
        font-size: 16px;
        margin-bottom: 60px;
    }

}


.r-about-content {
    position: relative;
    text-align: center;

}

.rectangle-yol {
    position: absolute;
    width: 37%;
    left: 3%;
    background: #FCEE50;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    height: 100%;
}

@media (max-width:992px) {
    .rectangle-yol {

        width: 41%;

    }
}


.r-about-img2 {
    width: 547px;
    position: relative;

}

@media (max-width:1200px) {
    .r-about-img2 {
        width: 435px;

    }
}

@media (max-width:768px) {
    .r-about-img2 {
        width: 285px;

    }
}





.list-about>li>.dot {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #FFEE06;
    opacity: 0.4;
}

@media (max-width:1200px) {
    .list-about>li>.dot {
        top: 8px;
        height: 15px;
    }
}

@media (max-width:992px) {
    .list-about>li>.dot {
        top: 14px;
        height: 15px;
        width: 40px;
    }
}

@media (max-width:768px) {
    .list-about>li>.dot {
        top: 40px;
        height: 26px;
        width: 50px;
    }
}

@media (max-width:576px) {
    .list-about>li>.dot {
        top: 50px;
        height: 26px;
        width: 56px;
    }
}

.list-about li span {

    font-weight: 300;
}

@media (max-width:1400px) {
    .list-about li span {
        font-size: 18px;
    }

}

@media (max-width:1200) {
    .list-about li span {
        font-size: 16px;
    }

}

@media (max-width:992px) {
    .list-about li span {
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0;
    }

}

@media (max-width:768px) {
    .list-about li span {
        padding: 0;
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .list-about li span {
        font-size: 14px;
    }

}

/* end this section====================================================== */
/* third section from about */
.information {
    background-color: #FFF;
    margin-top: -5px;
    position: relative;
}


@media (max-width:576px) {
    .information::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 425px;
        background: url('/images/our-serv-bg.png') #1C1C22;
    }
}

.info-content {
    position: relative;
}


@media (min-width:576px) {
    .info-content::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 550px;
        background: url('/images/our-serv-bg.png') #1C1C22;
    }
}



@media (max-width:1400px) {
    .info-content::before {
        height: 500px;
    }
}

@media (max-width:1200px) {
    .info-content::before {
        height: 360px;
    }
}

@media (max-width:992px) {
    .info-content::before {
        height: 450px;
    }
}


.info-header {
    padding: 110px 112px 70px 0px;
    position: relative;
}

@media (max-width:1400px) {
    .info-header {
        padding: 80px 80px 51px 0px;
    }
}

@media (max-width:1200px) {
    .info-header {
        padding: 70px 65px 40px 0px;
    }
}

@media (max-width:992px) {
    .info-header {
        padding: 85px 0 50px 0px;
        text-align: center;
    }
}

.info-small-title {
    color: #FFEE06;
    background: #1C1C22;
    font-weight: 300;

}

@media (min-width:992px) {

    .info-header-toggle-word {
        display: none;
    }
}

@media (max-width:992px) {

    .info-header-toggle-word {
        display: inline-block;
    }
}

@media (max-width:992px) {

    .info-big-title {
        width: 100%;
        margin: auto;
    }
}


.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 87%;
    margin: auto;

}

@media (max-width:1200px) {
    .cards {
        width: 88%;

    }
}

@media (max-width:576px) {
    .cards {
        width: 100%;

    }
}

.card {
    background: #FFF;
    margin-bottom: 44px;
    position: relative;
    width: 48%;
}

@media (max-width:1200px) {
    .card {
        margin-bottom: 35px;
    }
}

@media (max-width:992px) {
    .card {
        width: 100%;
        ;
    }
}

.card-bg {
    height: 405px;
    width: 100%;
    position: absolute;
    border: 1px solid #ccc;
    background-image: url("/images/cards-bg.png");
    transition: all .7s ease;
    background-position: 50%;
    background-size: cover;
}

@media (max-width:1400px) {
    .card-bg {
        height: 340px;
    }
}

@media (max-width:1200px) {
    .card-bg {
        height: 255px;
    }
}

@media (max-width:992px) {
    .card-bg {
        height: 330px;
    }
}

@media (max-width:576px) {
    .card-bg {
        height: 205px;
    }
}

.card:hover .card-bg {
    background-position-x: 0%;
}

.card-content {
    padding: 39px 52px;
    position: relative;
}

@media (max-width:1200px) {
    .card-content {
        padding: 25px 35px;
    }
}

@media (max-width:576px) {
    .card-content {
        padding: 20px 25px;
    }
}

.info-card-title {
    color: #1c1c22;
    margin-bottom: 7px;

}

@media (max-width:1200px) {
    .info-card-title {
        margin-bottom: 3px;
    }
}

.info-card-desc {
    color: #797981;
    text-align: right;
    margin-bottom: 35px;
    font-size: 20px;
}

@media (max-width:1400px) {
    .info-card-desc {
        margin-bottom: 25px;
        font-size: 18px;
    }
}

@media (max-width:1200px) {
    .info-card-desc {
        margin-bottom: 20px;
        font-size: 14px;
    }
}


.info-card-img {

    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all .3s ease;

}

.card-content:hover .info-card-img {
    filter: grayscale(0);
}

/* this is inforamtion images======================================== */

.information-2 {
    color: #FFF;
    width: 100%;
}

.information-2 img {
    width: 100%;
}

@media (max-width:992px) {
    .information-2 .container {
        width: 100%;
    }
}


/* 
.info-content-2>li:nth-child(1) {
    position: absolute;
    top: 100px;
    left: 0px;
}

.info-content-2>li:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 80px;
}

.info-content-2>li:nth-child(3) {
    position: absolute;
    top: 100px;
    left: 720px;
}

.info-content-2>li:nth-child(4) {
    position: absolute;
    top: 100px;
    left: 1350px;
}

.info-content-2>li:nth-child(5) {
    position: absolute;
    top: 160px;
    left: 0px;
}

.info-content-2>li:nth-child(6) {
    position: absolute;
    top: 280px;
    left: 230px;
}

.info-content-2>li:nth-child(7) {
    position: absolute;
    top: 390px;
    left: 860px;
}

.info-content-2>li:nth-child(8) {
    position: absolute;
    top: 500px;
    left: 1500px;
} */




/* start number section===================================================== */
.cards-num {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:992px) {
    .cards-num {
        flex-flow: column-reverse;
    }
}

.card-num {
    position: relative;
    color: #1c1c22;
    padding: 10px 30px;
}

@media (max-width:1400px) {
    .card-num {
        padding: 5px 20px;
    }
}

@media (max-width:992px) {
    .card-num {
        padding: 5px 20px;
        margin-bottom: 32px;
    }
}

.card-num>.n-span-bg-color {
    position: absolute;
    top: 33%;
    width: 87%;
    left: 5%;
    text-align: center;
    height: 66px;
    background: #FFEE06;
    opacity: 0.4;
    border-radius: 10px;
    z-index: -1;
}

@media (max-width:1400px) {
    .card-num>.n-span-bg-color {
        width: 78%;
        left: 10%;
        height: 40px;
    }
}

@media (max-width:992px) {
    .card-num>.n-span-bg-color {
        height: 45px;
    }
}

.card-num>.span-num {
    display: block;
    font-family: 'Readex pro';
    text-align: center;
    font-size: 110px;
    font-weight: 700;
    font-family: fantasy;
    -webkit-text-stroke-width: 3px;
    -webkit-text-fill-color: transparent;
}

@media (max-width:1400px) {
    .card-num>.span-num {
        font-size: 80px;
        font-weight: 300;
    }
}

@media (max-width:992px) {
    .card-num>.span-num {
        font-size: 90px;
        font-weight: 300;
    }
}

@media (max-width:576px) {
    .card-num>.span-num {
        font-size: 85px;
    }
}



.card-num>.num-desc {
    font-size: 24px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
    width: 330px;
}

@media (max-width:1400px) {
    .card-num>.num-desc {
        font-size: 18px;
        width: 250px;
    }
}


/* ============================================================================= */



/* start projects======================================================== */

.projects {
    margin-bottom: 0;
}

@media (max-width:992px) {
    .projects .container {
        width: 100%;
    }
}

.projects-content {
    position: relative;
    display: flex;
    background: url('../images/Background\ Lines.png');
    width: 100%;

}

.project-content {
    width: 100%;
    background: url("/images/our-serv-bg.png") #1C1C22;
}




.project-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:992px) {
    .project-desc {
        flex-flow: column;
    }
}

.proj-big-title {
    display: inline-block;
}

@media (max-width:992px) {
    .proj-big-title {
        margin-bottom: 26px;
    }
}



.btn-project {

    border: 1px solid #ccc;
    margin-left: 129px;
    padding: 20px 20px;
}

@media (max-width:1200px) {
    .btn-project {

        padding: 10px 15px;
        font-size: 14px;
    }
}

@media (max-width:992px) {
    .btn-project {

        padding: 10px 30px;
        font-size: 14px;
        margin: auto;
    }
}

.btn-project:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FCEE50;
    transition: all .7s ease;
}

.btn-project:hover::after {
    width: 100%;
}

@media (max-width:992px) {
    .btn-project:after {
        width: 100%;
    }
}

.btn-project>.hero-btn-txt {
    display: flex;
    justify-content: space-between;
    color: #D4D4D9;
    position: relative;
    z-index: 1;
}

@media (max-width:992px) {
    .btn-project>.hero-btn-txt {
        color: #1C1C22;
    }
}

.btn-project:hover .hero-btn-txt {

    color: #000;
}

.btn-project>.hero-btn-txt>i {
    padding-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    transition: all .4s ease;

}

@media (max-width:992px) {
    .btn-project .hero-btn-txt>i {
        padding-right: 20px;
    }
}

.btn-project:hover .hero-btn-txt>i {
    padding-right: 20px;
}

/* .about-project-txt {
    display: block;
    color: #1C1C22;
    font-size: 16px;
    width: 145px;
    height: 17px;
    z-index: 1;
} */

/* .btn-about:hover .about-btn-txt {
    color: #000;
} */

.btn-project i {
    padding-right: 10px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    transition: all .4s ease;
}

.btn-project:hover .project-btn-txt>i {
    padding-right: 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>> */

.list-projects {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media (max-width:768px) {
    .list-projects {
        display: block;
        overflow: auto;
        white-space: nowrap;
    }
}

.list-projects>li {
    width: 25%;
    transition: all 1s ease;
}

@media (max-width:768px) {
    .list-projects>li {

        display: inline;
    }
}

@media (min-width:992px) {
    .list-projects>li:hover {
        width: 38%;
    }
}

@media (min-width:768px) {
    .list-projects>li:hover {
        width: 70%;
    }
}




.list-projects>li>img {
    width: 100%;
    height: 785px;
    object-fit: cover;
}

@media (max-width:1400px) {
    .list-projects>li>img {
        height: 600px;
    }
}

@media (max-width:992px) {
    .list-projects>li>img {
        height: 650px;
    }
}

@media (max-width:768px) {
    .list-projects>li>img {
        width: 90%;
        height: 560px;
    }
}



/* start idea section======================================= */
.ideas {
    background: url('../images/idea-bg.png') #1C1C22;
    width: 100%;
    margin-top: -5px;
    padding-bottom: 366px;
    padding-top: 220px;

}

@media (max-width:1200px) {
    .ideas {
        padding-bottom: 290px;
        padding-top: 160px;

    }
}

@media (max-width:992px) {
    .ideas {
        padding-bottom: 240px;
        padding-top: 160px;

    }
}

@media (max-width:768px) {
    .ideas {
        padding-bottom: 160px;
    }
}

@media (max-width:576px) {
    .ideas {
        padding-bottom: 120px;
    }
}

.idea-content {
    padding-bottom: 100px;
}

@media (max-width:1400px) {
    .idea-content {
        padding-bottom: 70px;
    }
}

@media (max-width:1200px) {
    .idea-content {
        padding-bottom: 60px;
    }
}

.idea-title {
    text-align: center;
    color: #FFF;
}

@media (max-width:576px) {
    .idea-title {
        font-size: 24px;
    }
}

.idea-desc {
    text-align: center;
    margin-top: 30px;
}

@media (max-width:1400px) {
    .idea-desc {
        margin-top: 15px;
    }
}

@media (max-width:576px) {
    .idea-desc {
        width: 70%;
        margin: auto;
        margin-top: 15px;
    }
}

.idea-content-2 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

@media (max-width:1400px) {
    .idea-content-2 {
        justify-content: center;
    }
}

@media (max-width:1200px) {
    .idea-content-2 {
        justify-content: space-around;
    }
}


.idea-sec3 {
    text-align: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 72px 0 0 0px;
}

@media (max-width:1600px) {
    .idea-sec3 {
        padding-right: 35px;
    }
}

@media (max-width:1200px) {
    .idea-sec3 {
        padding: 45px 0 0 0px;
        width: 47%;
    }
}

@media (max-width:992px) {
    .idea-sec3 {
        width: 90%;
        margin: auto;
        padding: 40px 0 0 0px;

    }
}

.idea-sec3>img {
    height: 65px;
    width: 94px;
    margin-bottom: 53px;
}

@media (max-width:1600px) {
    .idea-sec3>img {
        margin-bottom: 35px;
    }
}

@media (max-width:1400px) {
    .idea-sec3>img {
        margin-bottom: 30px;
        height: 60px;
        width: 85px;
    }
}

@media (max-width:576px) {
    .idea-sec3>img {
        margin-bottom: 20px;
        height: 45px;
        width: 65px;
    }
}



.idea-sec3>.idea-desc2 {
    color: #fff;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
}

@media (max-width:1600px) {
    .idea-sec3>.idea-desc2 {
        font-size: 20px;
    }
}

@media (max-width:1400px) {
    .idea-sec3>.idea-desc2 {
        font-size: 18px;
    }
}

@media (max-width:576px) {
    .idea-sec3>.idea-desc2 {
        font-size: 16px;
    }
}


.idea-sec1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

@media (max-width:1400px) {
    .idea-sec1 {
        justify-content: space-between;
    }
}

@media (max-width:1400px) {
    .idea-sec1 {
        width: 44%;
    }
}


@media (max-width:992px) {
    .idea-sec1 {
        width: 100%;
        flex-flow: row-reverse;
        justify-content: center;

    }
}

@media (max-width:576px) {
    .idea-sec1 {
        justify-content: center;
    }
}

.sec2 {
    position: relative;
    overflow: hidden;
    width: 342px;
    padding: 32px 32px 0 0;
    white-space: nowrap;
    direction: ltr;
}

@media (max-width:1600px) {
    .sec2 {
        width: 300px;
        padding: 27px 27px 0 0;
    }
}

@media (max-width:1400px) {
    .sec2 {
        width: 260px;
        padding: 20px 22px 0 0;
    }
}

@media (max-width:1200px) {
    .sec2 {
        width: 240px;
        padding: 20px 22px 0 0;
    }
}

@media (max-width:992px) {
    .sec2 {
        width: 280px;
        padding: 20px 22px 0 0;
    }
}

@media (max-width:768px) {
    .sec2 {
        width: 210px;
        padding: 20px 22px 0 0;
    }
}

@media (max-width:576px) {
    .sec2 {
        width: 165px;
        padding: 15px 15px 0 0;
        }
}


.sec2>.idea-bg-color {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #FCEE50;
    border: 1px solid #FFEE06;
    width: 310px;
    height: 330px;
}


@media (max-width:1600px) {
    .sec2>.idea-bg-color {
        width: 265px;
        height: 285px;
    }
}

@media (max-width:1400px) {
    .sec2>.idea-bg-color {
        width: 235px;
        height: 255px;
    }
}

@media (max-width:1200px) {
    .sec2>.idea-bg-color {
        width: 215px;
        height: 235px;
    }
}

@media (max-width:992px) {
    .sec2>.idea-bg-color {
        width: 250px;
        height: 260px;
    }
}

@media (max-width:768px) {
    .sec2>.idea-bg-color {
        width: 185px;
        height: 200px;
    }
}


@media (max-width:576px) {
    .sec2>.idea-bg-color {
        width: 150px;
        height: 155px;
    }
}

.sec2>img {
    position: relative;
    width: 342px;
    transition: all .5s ease-out;
    padding-right: 32px;
    /* object-fit: cover; */
}


@media (max-width:1600px) {
    .sec2>img {
        width: 300px;
        padding-right: 32px;
    }
}

@media (max-width:1400px) {
    .sec2>img {
        width: 261px;
        padding-right: 22px;
    }
}

@media (max-width:1200px) {
    .sec2>img {
        width: 240px;
        padding-right: 20px;
    }
}

@media (max-width:992px) {
    .sec2>img {
        width: 275px;
        padding-right: 20px;
    }
}

@media (max-width:768px) {
    .sec2>img {
        width: 210px;
        padding-right: 20px;
    }
}

@media (max-width:576px) {
    .sec2>img {
        width: 163px;
        padding-right: 13px;
    }
}

.sec2>img.left {

    margin-left: -347px;
}

@media (max-width:1600px) {
    .sec2>img.left {
        margin-left: -305px;
    }
}

@media (max-width:1400px) {
    .sec2>img.left {
        margin-left: -270px;
    }
}

@media (max-width:1200px) {
    .sec2>img.left {
        margin-left: -280px;
    }
}

@media (max-width:768px) {
    .sec2>img.left {
        margin-left: -215px;
    }
}

@media (max-width:568px) {
    .sec2>img.left {
        margin-left: -168px;
    }
}

.sec1 {
    color: #FFF;
    text-align: right;
    width: 40%;
    padding-top: 34px;
}

@media (max-width:1600px) {
    .sec1 {
        width: 44%;
        padding-top: 34px;
        padding-right: 0;
    }
}

@media (max-width:1400px) {
    .sec1 {
        width: 40%;
    }
}

@media (max-width:1200px) {
    .sec1 {
        width: 36%;
    }
}

@media (max-width:992px) {
    .sec1 {
        width: unset;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        padding-right: 30px;
    }
}

@media (max-width:576px) {
    .sec1 {
        align-items: unset;
    }
}

.sec3-title .sec3-desc1,
.sec3-pos {
    margin-bottom: 13px;
}

@media (max-width:576px) {
    .sec3-title {
        font-size: 19px;
    }
}


@media (max-width:576px) {

    .sec3-desc1,
    .sec3-pos {
        font-size: 14px;
    }
}


.sec3-desc1>span {
    display: block;

}


.sec1>ul {
    display: flex;
    margin-top: 26px;
}

@media (max-width:576px) {
    .sec1>ul {
        margin-top: 10px;
    }
}

.sec1>ul>li {
    margin-right: 15px;
}

@media (max-width:576px) {
    .sec1>ul>li {
        margin-right: 0;
        margin-left: 10px;
    }

    .sec1>ul>li>a>img {
        width: 20px;
    }


}

.arrow-con,.arrow-con-small {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 70px;


}

.arrow-con button, .arrow-con-small button {
    outline: none;
    background: none;
    border: 0;
    cursor: pointer;
}

@media (max-width:1200px) {

    .arrow-con button img {
        width: 45px;
    }
}


.arrow-con-small {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width:1600px) {

    .arrow-con,
    .arrow-con-small {
        gap: 70px;
    }
}

@media (max-width:1400px) {

    .arrow-con,
    .arrow-con-small {
        gap: 65px;
    }
}

@media (max-width:1200px) {

    .arrow-con,
    .arrow-con-small {
        gap: 50px;
    }
}

@media (max-width:992px) {
    .arrow-con {
        display: none;
    }
}

@media (min-width:992px) {
    .arrow-con-small {
        display: none;
    }
}

@media (max-width:576px) {
    .arrow-con-small {
        margin-top: 40px;
    }
}




.arrow-con>img,
.arrow-con-small>img {
    width: 54px;
    height: 54px;
    cursor: pointer;
}

@media (max-width:1200px) {

    .arrow-con>img,
    .arrow-con-small>img {
        width: 46px;
        height: 46px;

    }
}

@media (max-width:576px) {

    .arrow-con>img,
    .arrow-con-small>img {
        width: 54px;
        height: 54px;

    }
}

/* start build section========================================================== */
.build {
    text-align: center;
    background: #FFF;
    color: #1C1C22;
    padding: 320px 0 220px;
}

@media (max-width:1200px) {
    .build {
        padding: 160px 0 150px;
        justify-content: space-around;

    }
}

@media (max-width:768px) {
    .build {
        padding: 120px 0 60px;
        justify-content: space-around;

    }
}

.build-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:1400px) {
    .build-cards {
        justify-content: space-evenly;
    }
}

@media (max-width:992px) {
    .build-cards {
        flex-flow: column;
        align-items: center;
    }
}

.build-big-title {
    margin-bottom: 75px;
}

@media (max-width:1400px) {
    .build-big-title {
        margin-bottom: 60px;
    }
}

.build-small-title {
    font-size: 32px;
    margin-bottom: 32px;
}

@media (max-width:1400px) {
    .build-small-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
}

@media (max-width:1200px) {
    .build-small-title {
        font-size: 18px;
        margin-bottom: 12px;
    }
}


.build-card {
    position: relative;
}

@media (max-width:1400px) {
    .build-card {
        width: 30%;
        ;
    }
}

@media (max-width:1200px) {
    .build-card {
        width: 28%;
        ;
    }
}

@media (max-width:992px) {
    .build-card {
        width: 44%;
        margin-bottom: 40px;
    }
}

@media (max-width:576px) {
    .build-card {
        width: 80%;
        margin-bottom: 48px;
    }

    .build-card:last-child {
        margin-bottom: 0;

    }
}




.build-card>img {
    width: 87px;
    height: 68px;
    z-index: 1;
    margin-bottom: 24px;
    position: relative;
}

@media (max-width:1200px) {
    .build-card>img {
        width: 50px;
        height: 50px;
        margin-bottom: 12px;
    }
}

.build-card>span {
    position: absolute;
    background-color: #FCEE50;
    opacity: 0.6;
    width: 121px;
    height: 66px;
    top: 27px;
    left: 38%;
}

@media (max-width:1400px) {
    .build-card>span {
        width: 105px;
        height: 52px;
        top: 32px;
        left: 35%;
    }


}

@media (max-width:1200px) {
    .build-card>span {
        width: 100px;
        left: 31%;
        height: 35px;
        top: 21px;
    }
}

@media (max-width:992px) {
    .build-card>span {
        width: 22%;
        left: 39%;
        top: 23px;
    }
}

@media (max-width:992px) {
    .build-card>span {
        width: 28%;
        left: 36%;
    }
}

@media (max-width:1600px) {
    .build-desc {
        font-size: 20px;
    }

}

@media (max-width:1400px) {
    .build-desc {
        font-size: 16px;
    }

}

@media (max-width:1200px) {
    .build-desc {
        font-size: 14px;
    }

}



.b-span-bg-color {
    position: absolute;
    background-color: #FCEE50;
    opacity: 0.6;
    width: 121px;
    height: 66px;
    top: 27px;
}


/* start new section art section */
/* section anthor art  */

.anthor-art {
    overflow: hidden;
    align-items: center;

}

.btn-art {

    border: 1px solid #1C1C22;
    width: 206px;
    height: 63px;
    text-align: center;
    padding: 20px 20px;
    position: relative;
}

.btn-art:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FCEE50;
    transition: all .7s ease;
}

@media (max-width:768px) {
    .btn-art::after {
        width: 100%;
    }
}

.btn-art:hover::after {
    width: 100%;
}

.art-btn-txt {
    display: block;
    color: #1C1C22;
    font-size: 16px;
    width: 110px;
    height: 17px;
    z-index: 1;
}

.btn-art i {
    padding-right: 0px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    transition: all .4s ease;
}


@media (min-width:768px) {
    .btn-art:hover i {
        padding-right: 20px;
    }
}


.anthor-art .btn-art {
    border: 1px solid #1C1C22;
    width: 206px;
    height: 63px;
    text-align: center;
    padding: 20px 20px;
    position: relative;
}

@media (max-width:1400px) {
    .anthor-art .btn-art {
        height: 50px;
        padding: 10px 17px;
    }


}

@media (min-width:992px) {
    .btn-art-resp .btn-art {
        display: none;
    }
}

@media (max-width:992px) {
    .anthor-art .btn-art {
        display: none;
    }

    .btn-art-resp .btn-art {
        display: flex;
        margin: auto;
        margin-top: 40px;
    }
}

@media (max-width:768px) {


    .btn-art-resp .btn-art {
        width: 183px;
        margin-top: 80px;
    }
}

.art-header {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}

@media (max-width:1400px) {
    .art-header {
        margin-bottom: 60px;
    }
}

@media (max-width:1200px) {
    .art-header {
        margin-bottom: 45px;
    }
}

@media (max-width:576px) {
    .art-header {
        margin-bottom: 41px;
    }
}

@media (min-width:992px) {
    .container.small-media {
        width: 100%;
        margin-right: 8%;
    }
}

.anthor-art-con {

    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
}

@media (max-width:992px) {
    .anthor-art-con {

        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

.r-art-con {
    width: 680px;
    position: relative;

}

/* @media (min-width:992px) {
    .r-art-con {}
} */

@media (max-width:992px) {
    .r-art-con {
        width: unset;
        height: unset;
        position: relative;
    }

    .r-art-con>div {
        position: relative;
        padding: 0 8%;

    }
}

@media (max-width:992px) {

    .r-art-con>div {
        padding: 0 6%;
    }
}

.art-header>.art-title {
    width: 100%;
    text-align: right;
    font-size: 64px;
    font-weight: 700;
    line-height: 170%;
}

@media (max-width:1400px) {
    .art-header>.art-title {
        font-size: 48px;
    }
}

@media (max-width:992px) {
    .art-header>.art-title {
        font-size: 36px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width:992px) {
    .art-header>.art-title {
        font-size: 24px;
    }
}

.art-card-img {
    overflow: hidden;
    margin: 0 8%;
}

@media (max-width:992px) {
    .art-card-img {
        margin: unset;
    }
}

.art-card-img>img {
    display: block;
    margin: auto;
    transition: all .5s ease;

}

@media (max-width:992px) {
    .art-card-img>img {
        width: 100%;
    }
}

@media (min-width:768px) {
    .r-art-con:hover .art-card-img>img {
        transform: scale(1.2);
    }
}



.art-card-con {
    padding: 15px 53px 30px 0;
    overflow: hidden;
}


@media (max-width:992px) {
    .art-card-con {
        padding: 15px 0 0px 0;

    }
}

@media (max-width:576px) {
    .art-card-con .art-desc {
        font-size: 14px;
    }
}





.art-card>img {
    width: 573px;
    height: 320px;
    object-fit: cover;
    margin: 20px 53px;
}

.art-card>span {
    display: block;
}

.art-card>.art-small-title,
.art-card>.r-art-con>.art-desc,
.art-card>span {
    margin-right: 20px;
}

.r-art-con>.art-card::after {
    position: absolute;
    content: "";
    z-index: -1;
    background: url('../images/art-bg.png');
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    background-position-y: 24px;
    width: 100%;
    bottom: 0;
    height: 68%;
}


@media (max-width:992px) {
    .r-art-con>.art-card::after {
        width: 100%;
        height: 385px;
        top: 200px;
        background-position-y: unset;
        right: 0;
    }
}

@media (max-width:768px) {
    .r-art-con>.art-card::after {
        height: 285px;
        top: 190px;


    }
}

@media (max-width:576px) {
    .r-art-con>.art-card::after {
        height: 65%;
        top: unset;
        bottom: 0;
    }
}

.r-art-con:hover .art-card::after {
    background-position-x: left;
}


.art-card .btn-more {
    width: 180px;
    height: 45px;
    margin-top: 30px;
    opacity: .8;
    overflow: hidden;

}

@media (max-width:992px) {
    .art-card .btn-more {
        width: 180px;
        height: 50px;
        margin-top: 30px;
        overflow: hidden;

    }
}

@media (max-width:768px) {
    .art-card .btn-more {
        height: unset;
        margin-top: 13px;

    }
}

.art-card .btn-more .btn-more-content {
    display: flex;
    align-items: center;
    margin-top: 90px;
    transition: all .5s ease;
    color: #1C1C22;

}

.art-card .btn-more .btn-more-content a {
    display: flex;
    align-items: center;
    color: #1C1C22;
}

.art-card .btn-more .btn-more-content a img {
    opacity: .5;
}

@media (max-width:992px) {
    .art-card .btn-more .btn-more-content {
        margin-top: 80px;
        opacity: 1;
    }

    .art-card .btn-more .btn-more-content a {
        display: flex;
        color: #1C1C22;
    }
}


@media (max-width:768px) {
    .art-card .btn-more .btn-more-content {
        margin-top: 0;
        opacity: 1;
    }

    .art-card .btn-more .btn-more-content a {
        display: flex;
        color: #1C1C22;
    }
}

@media (max-width:576px) {

    .art-card .btn-more .btn-more-content a {
        margin: 5px 0;
        margin: 5px 0 30px;
    }
}




@media (min-width:768px) {
    .r-art-con:hover .btn-more-content {
        margin-top: 0;
        opacity: .8;
    }
}



.art-card .btn-more img {
    transition: all .5s ease;
    padding: 0 3px;
}

@media (min-width:768px) {

    .art-card .btn-more img {
        padding: 0 0px;
    }

    .r-art-con:hover .art-card .btn-more img {
        padding-right: 15px;
    }
}


/* end section anthor art section */